# WeRateDogs Tweeter Archive

## Gather

In [1]:
import pandas as pd
import numpy as np
import requests
#import tweepy

In [2]:
tweet = pd.read_csv('twitter-archive-enhanced.csv')

In [ ]:
###
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
if r.status_code == 200:
    with open('image_predictions.tsv', 'wb') as f:
        f.write(r.content)

In [3]:
image = pd.read_csv('image_predictions.tsv', sep = '\t')

In [ ]:
###
consumer_key = 'X4Mu5bFyMBpjjstVS4XbYjZcL'
consumer_secret = '6nXJBPj6kBPzT0zP45fZnjiAOuMTN5OEBS3tQ7xKbfIT4NuIst'
access_token = '4366384514-l6MKA0qiPnv018rq4aSQPQd5TODG6Ko4gNeBlSA'
access_secret = '6HcJzhQoY9fZaTfj8p5XXyBdCjNsKiB8SUURkRmSQEh3H'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True )

In [ ]:
###
from timeit import default_timer as timer

start = timer()
tweet_id = []
retweet_count = []
favorite_count = []

for ids in image.tweet_id:
    try:
        tweet = api.get_status(ids, tweet_mode='extended')
        tweet_id.append(ids)
        retweet_count.append(tweet.retweet_count)
        favorite_count.append(tweet.favorite_count)
    except Exception as e:
        print(str(e))
        
end = timer()
print(end - start)

In [ ]:
###
file = open("tweet_json.txt", "w")
for index in range(len(tweet_id)):
    file.write(str(tweet_id[index]) + " " + str(retweet_count[index]) + " " + str(favorite_count[index]) + "\n")
file.close()

In [4]:
info = pd.read_csv('tweet_json.txt', sep=" ", header=None)
info.columns = ['tweet_id','retweet_count','favorite_count']

## Assess

In [ ]:
tweet.head(10)

In [ ]:
image.head(10)

In [ ]:
info.head(10)

In [ ]:
tweet.info()

In [ ]:
image.info()

In [ ]:
info.info()

In [ ]:
all_columns = pd.Series(list(tweet) + list(image) + list(info))
all_columns[all_columns.duplicated()]

In [ ]:
list(tweet)

In [ ]:
list(image)

In [ ]:
tweet[tweet['expanded_urls'].isnull()]

In [ ]:
tweet.describe()

In [ ]:
image.describe()

In [ ]:
info.describe()

In [ ]:
tweet.sample(5)

In [ ]:
tweet.name.value_counts()

In [ ]:
tweet.source.value_counts()

In [ ]:
image.jpg_url.value_counts()

In [ ]:
tweet[tweet.name.duplicated()]

In [ ]:
tweet.rating_numerator.sort_values()

In [ ]:
tweet.rating_denominator.sort_values()

In [ ]:
len(tweet[(tweet['doggo'] == 'doggo')]) + len(tweet[(tweet['floofer'] == 'floofer')])  + len(tweet[(tweet['pupper'] == 'pupper')]) 
+ len(tweet[(tweet['puppo'] == 'puppo')])

#### Quality
##### `tweet` table
- in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, and retweeted_status_user_id are int not float
- Erroneous datatypes (retweeted_status_timestamp, timestamp, text, and source columns) 
- source has four categories
- name sometimes lower case, captial letter other times
- Missing expanded_urls (2297 instead of 2356)
- Missing in_reply_to_status_id and in_reply_to_user_id (78 instead of 2356)
- Missing retweeted_status_id, retweeted_status_id, retweeted_status_id (181 instead of 2356)
- actually, by, his, my, one, the, very are not dog name
- Multiple records for 'a, an' as a name
- Some rating_numerator and rating_denominator are extremely high
- Some rows have rating_numerator and rating_denominator but do not have expanded_urls

##### `image` table
- Duplicates in jpg_url
- Lowercase p1, p2, p3
- Missing records (2075 instead of 2356)

##### `info` table
- Missing records (2069 instead of 2075)

#### Tidiness
- Merge doggo, pupper, puppo, and floofer columns into one column in `tweet` table
- `info` table and `image` table should be part of the `tweet` table

## Clean

In [5]:
tweet_clean = tweet.copy()
image_clean = image.copy()
info_clean = info.copy()

### Missing Data

#### `tweet`: Missing expanded_urls (2297 instead of 2356), Missing in_reply_to_status_id and in_reply_to_user_id (78 instead of 2356), Missing retweeted_status_id, retweeted_status_id, retweeted_status_id (181 instead of 2356)

##### Define
- Remove tweets that don't have image url
- Remove replied tweets
- Remove retweets

##### Code

In [6]:
tweet_clean = tweet_clean[~tweet_clean.expanded_urls.isnull()]

##### Test

In [ ]:
tweet_clean.head()

##### Code

In [7]:
tweet_clean = tweet_clean[tweet_clean['in_reply_to_status_id'].isnull()]

##### Test

In [ ]:
len(tweet_clean)

##### Code

In [8]:
tweet_clean = tweet_clean[tweet_clean['retweeted_status_id'].isnull()]

##### Test

In [ ]:
len(tweet_clean)

##### Code

In [9]:
drop_columns = ['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 
                'retweeted_status_user_id', 'retweeted_status_timestamp']

tweet_clean = tweet_clean.drop(labels = drop_columns, axis = 1)

##### Test

In [ ]:
tweet_clean.head()

### Quality

#### `tweet`: Erroneous datatypes (tweet_id, timestamp, text, and source columns) , Source has four categories

##### Define
- Change tweet_id to int data type
- Change timestamp to date data type
- Change text to string data type
- Change source to category data type
- Replace the four category source with short version

##### Code

In [10]:
tweet_clean.tweet_id = tweet_clean.tweet_id.astype(int) 
tweet_clean.text = tweet_clean.text.astype(str)
tweet_clean.source = tweet_clean.source.astype('category')
tweet_clean.timestamp = pd.to_datetime(tweet_clean.timestamp)

In [11]:
tweet_clean.source = tweet_clean.source.replace('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'Twitter for iPhone')
tweet_clean.source = tweet_clean.source.replace('<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>', 'Vine Make a Scene')
tweet_clean.source = tweet_clean.source.replace('<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'Twitter Web Client')
tweet_clean.source = tweet_clean.source.replace('<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>', 'Tweet Deck')

##### Test

In [ ]:
tweet_clean.info()

In [ ]:
tweet_clean.head()

#### `tweet`: Some rating_numerator and rating_denominator are extremely high

##### Define
- Calculate the rate based on rating_numerator divide rating_denominator
- Remove the rates greater than 2.0

##### Code

In [12]:
tweet_clean['rating'] = tweet_clean.rating_numerator / tweet_clean.rating_denominator

In [ ]:
for dog_rate in tweet_clean.rate:
    if dog_rate > 2.0:
        print(dog_rate)

In [15]:
tweet_clean = tweet_clean[tweet_clean.rating < 2]

In [16]:
tweet_clean = tweet_clean.drop(['rating_numerator', 'rating_denominator'], axis=1)

,tweet_id,timestamp,source,text,expanded_urls,name,doggo,floofer,pupper,puppo,rating
0,892421000000000000,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,None,None,None,None,1.3
1,892177000000000000,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,Tilly,None,None,None,None,1.3
2,891815000000000000,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,Archie,None,None,None,None,1.2
3,891690000000000000,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,Darla,None,None,None,None,1.3
4,891328000000000000,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,Franklin,None,None,None,None,1.2
5,891088000000000000,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,None,None,None,None,None,1.3
6,890972000000000000,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",Jax,None,None,None,None,1.3
7,890729000000000000,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,None,None,None,None,None,1.3
8,890609000000000000,2017-07-27 16:25:51,Twitter for iPhone,This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,Zoey,None,None,None,None,1.3
9,890240000000000000,2017-07-26 15:59:51,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,Cassie,doggo,None,None,None,1.4
10,890007000000000000,2017-07-26 00:31:25,Twitter for iPhone,This is Koda. He is a South Australian decksha...,https://twitter.com/dog_rates/status/890006608...,Koda,None,None,None,None,1.3
11,889881000000000000,2017-07-25 16:11:53,Twitter for iPhone,This is Bruno. He is a service shark. Only get...,https://twitter.com/dog_rates/status/889880896...,Bruno,None,None,None,None,1.3
12,889665000000000000,2017-07-25 01:55:32,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,None,None,None,None,puppo,1.3
13,889639000000000000,2017-07-25 00:10:02,Twitter for iPhone,This is Ted. He does his best. Sometimes that'...,https://twitter.com/dog_rates/status/889638837...,Ted,None,None,None,None,1.2
14,889531000000000000,2017-07-24 17:02:04,Twitter for iPhone,This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,Stuart,None,None,None,puppo,1.3
15,889279000000000000,2017-07-24 00:19:32,Twitter for iPhone,This is Oliver. You're witnessing one of his m...,https://twitter.com/dog_rates/status/889278841...,Oliver,None,None,None,None,1.3
16,888917000000000000,2017-07-23 00:22:39,Twitter for iPhone,This is Jim. He found a fren. Taught him how t...,https://twitter.com/dog_rates/status/888917238...,Jim,None,None,None,None,1.2
17,888805000000000000,2017-07-22 16:56:37,Twitter for iPhone,This is Zeke. He has a new stick. Very proud o...,https://twitter.com/dog_rates/status/888804989...,Zeke,None,None,None,None,1.3
18,888555000000000000,2017-07-22 00:23:06,Twitter for iPhone,This is Ralphus. He's powering up. Attempting ...,https://twitter.com/dog_rates/status/888554962...,Ralphus,None,None,None,None,1.3
20,888078000000000000,2017-07-20 16:49:33,Twitter for iPhone,This is Gerald. He was just told he didn't get...,https://twitter.com/dog_rates/status/888078434...,Gerald,None,None,None,None,1.2
21,887705000000000000,2017-07-19 16:06:48,Twitter for iPhone,This is Jeffrey. He has a monopoly on the pool...,https://twitter.com/dog_rates/status/887705289...,Jeffrey,None,None,None,None,1.3
22,887517000000000000,2017-07-19 03:39:09,Twitter for iPhone,I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,such,None,None,None,None,1.4
23,887474000000000000,2017-07-19 00:47:34,Twitter for iPhone,This is Canela. She attempted some fancy porch...,https://twitter.com/dog_rates/status/887473957...,Canela,None,None,None,None,1.3
24,887343000000000000,2017-07-18 16:08:03,Twitter for iPhone,You may not have known you needed to see this ...,https://twitter.com/dog_rates/status/887343217...,None,None,None,None,None,1.3
25,887101000000000000,2017-07-18 00:07:08,Twitter for iPhone,This... is a Jubilant Antarctic House Bear. We...,https://twitter.com/dog_rates/status/887101392...,None,None,None,None,None,1.2
26,886983000000000000,2017-07-17 16:17:36,Twitter for iPhone,This is Maya. She's very shy. Rarely leaves he...,https://twitter.com/dog_rates/status/886983233...,Maya,None,None,None,None,1.3
27,886737000000000000,2017-07-16 23:58:41,Twitter for iPhone,This is Mingus. He's a wonderful father to his...,"https://www.gofundme.com/mingusneedsus,https:/...",Mingus,None,None,None,None,1.3
28,886680000000000000,2017-07-16 20:14:00,Twitter for iPhone,This is Derek. He's late for a dog meeting. 13...,https://twitter.com/dog_rates/status/886680336...,Derek,None,None,None,None,1.3
29,886366000000000000,2017-07-15 23:25:31,Twitter for iPhone,This is Roscoe. Another pupper fallen victim t...,https://twitter.com/dog_rates/status/886366144...,Roscoe,None,None,pupper,None,1.2
31,886258000000000000,2017-07-15 16:17:19,Twitter for iPhone,This is Waffles. His doggles are pupside down....,https://twitter.com/dog_rates/status/886258384...,Waffles,None,None,None,None,1.3
...,...,...,...,...,...,...,...,...,...,...,...
2326,666412000000000000,2015-11-17 00:24:19,Twitter for iPhone,This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,quite,None,None,None,None,0.2
2327,666407000000000000,2015-11-17 00:06:54,Twitter for iPhone,This is a southern Vesuvius bumblegruff. Can d...,https://twitter.com/dog_rates/status/666407126...,a,None,None,None,None,0.7
2328,666396000000000000,2015-11-16 23:23:41,Twitter for iPhone,Oh goodness. A super rare northeast Qdoba kang...,https://twitter.com/dog_rates/status/666396247...,None,None,None,None,None,0.9
2329,666374000000000000,2015-11-16 21:54:18,Twitter for iPhone,Those are sunglasses and a jean jacket. 11/10 ...,https://twitter.com/dog_rates/status/666373753...,None,None,None,None,None,1.1
2330,666363000000000000,2015-11-16 21:10:36,Twitter for iPhone,Unique dog here. Very small. Lives in containe...,https://twitter.com/dog_rates/status/666362758...,None,None,None,None,None,0.6
2331,666353000000000000,2015-11-16 20:32:58,Twitter for iPhone,Here we have a mixed Asiago from the Gal��pago...,https://twitter.com/dog_rates/status/666353288...,None,None,None,None,None,0.8
2332,666345000000000000,2015-11-16 20:01:42,Twitter for iPhone,Look at this jokester thinking seat belt laws ...,https://twitter.com/dog_rates/status/666345417...,None,None,None,None,None,1.0
2333,666338000000000000,2015-11-16 19:31:45,Twitter for iPhone,This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,an,None,None,None,None,0.9
2334,666294000000000000,2015-11-16 16:37:02,Twitter for iPhone,This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,a,None,None,None,None,0.3
2335,666287000000000000,2015-11-16 16:11:11,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,an,None,None,None,None,0.5
2336,666273000000000000,2015-11-16 15:14:19,Twitter for iPhone,Can take selfies 11/10 https://t.co/ws2AMaNwPW,https://twitter.com/dog_rates/status/666273097...,None,None,None,None,None,1.1
2337,666269000000000000,2015-11-16 14:57:41,Twitter for iPhone,Very concerned about fellow dog trapped in com...,https://twitter.com/dog_rates/status/666268910...,None,None,None,None,None,1.0
2338,666104000000000000,2015-11-16 04:02:55,Twitter for iPhone,Not familiar with this breed. No tail (weird)....,https://twitter.com/dog_rates/status/666104133...,None,None,None,None,None,0.1
2339,666102000000000000,2015-11-16 03:55:04,Twitter for iPhone,Oh my. Here you are seeing an Adobe Setter giv...,https://twitter.com/dog_rates/status/666102155...,None,None,None,None,None,1.1
2340,666100000000000000,2015-11-16 03:44:34,Twitter for iPhone,Can stand on stump for what seems like a while...,https://twitter.com/dog_rates/status/666099513...,None,None,None,None,None,0.8
2341,666094000000000000,2015-11-16 03:22:39,Twitter for iPhone,This appears to be a Mongolian Presbyterian mi...,https://twitter.com/dog_rates/status/666094000...,None,None,None,None,None,0.9
2342,666083000000000000,2015-11-16 02:38:37,Twitter for iPhone,Here we have a well-established sunblockerspan...,https://twitter.com/dog_rates/status/666082916...,None,None,None,None,None,0.6
2343,666073000000000000,2015-11-16 01:59:36,Twitter for iPhone,Let's hope this flight isn't Malaysian (lol). ...,https://twitter.com/dog_rates/status/666073100...,None,None,None,None,None,1.0
2344,666071000000000000,2015-11-16 01:52:02,Twitter for iPhone,Here we have a northern speckled Rhododendron....,https://twitter.com/dog_rates/status/666071193...,None,None,None,None,None,0.9
2345,666064000000000000,2015-11-16 01:22:45,Twitter for iPhone,This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,the,None,None,None,None,1.0
2346,666059000000000000,2015-11-16 01:01:59,Twitter for iPhone,Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,the,None,None,None,None,0.8
2347,666057000000000000,2015-11-16 00:55:59,Twitter for iPhone,My oh my. This is a rare blond Canadian terrie...,https://twitter.com/dog_rates/status/666057090...,a,None,None,None,None,0.9
2348,666056000000000000,2015-11-16 00:49:46,Twitter for iPhone,Here is a Siberian heavily armored polar bear ...,https://twitter.com/dog_rates/status/666055525...,a,None,None,None,None,1.0
2349,666052000000000000,2015-11-16 00:35:11,Twitter for iPhone,This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,an,None,None,None,None,0.2
2350,666051000000000000,2015-11-16 00:30:50,Twitter for iPhone,This is a truly beautiful English Wilson Staff...,https://twitter.com/dog_rates/status/666050758...,a,None,None,None,None,1.0
2351,666049000000000000,2015-11-16 00:24:50,Twitter for iPhone,Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,None,None,None,None,None,0.5
2352,666044000000000000,2015-11-16 00:04:52,Twitter for iPhone,This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,a,None,None,None,None,0.6
2353,666033000000000000,2015-11-15 23:21:54,Twitter for iPhone,Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,a,None,None,None,None,0.9
2354,666029000000000000,2015-11-15 23:05:30,Twitter for iPhone,This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,a,None,None,None,None,0.7
2355,666021000000000000,2015-11-15 22:32:08,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,None,None,None,None,None,0.8

##### Test

In [ ]:
tweet_clean.rate.sort_values()

#### `tweet`: Multiple records for 'a, an' as a name, 'actually, by, his, my, one, the, very' are not dog name

##### Define
- Filter the text column to check if 'a','an', etc have corresponding name
- If not, change the name to 'None'

##### Code

In [17]:
Exception_names = ['a', 'an','actually', 'by', 'his', 'my', 'one', 'the', 'very', 'such','getting', 'world', 'mad']

In [18]:
for names in tweet_clean.name:
    if names in Exception_names:
            tweet_clean['new_text'] = tweet_clean['text'].loc[tweet_clean['name'] == names]

/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [19]:
# tweet_clean['new_text'][~tweet_clean['new_text'].isnull()]
tweet_clean['new_text'] = tweet_clean['new_text'].str.extract('\is (?:a|an|the) (.*?)\.').str.split().str[-1]

/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [20]:
tweet_clean['new_text'] = tweet_clean['new_text'].fillna(tweet_clean['name'])

/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
tweet_clean.new_text[1527] = tweet_clean.new_text[1527].replace('the', 'lobster')
tweet_clean.new_text[1603] = tweet_clean.new_text[1603].replace('the', 'pupper')
tweet_clean.new_text[1797] = tweet_clean.new_text[1797].replace('the', 'pupper')
tweet_clean.new_text[1815] = tweet_clean.new_text[1815].replace('the', 'None')
tweet_clean.new_text[2037] = tweet_clean.new_text[2037].replace('the', 'None')
tweet_clean.new_text[2212] = tweet_clean.new_text[2212].replace('the', 'vine')
tweet_clean.new_text[1146] = tweet_clean.new_text[1146].replace('just', 'pupper')
tweet_clean.new_text[1457] = tweet_clean.new_text[1457].replace('just', 'pupper')
tweet_clean.new_text[2019] = tweet_clean.new_text[2019].replace('just', 'None')
tweet_clean.new_text[1138] = tweet_clean.new_text[1138].replace('all', 'pupper')
tweet_clean.new_text[1025] = tweet_clean.new_text[1025].replace('an', 'Kangaroo')
tweet_clean.new_text[1362] = tweet_clean.new_text[1362].replace('an', 'Seal')
tweet_clean.new_text[2204] = tweet_clean.new_text[2204].replace('an', 'Berta')
tweet_clean.new_text[1724] = tweet_clean.new_text[1724].replace('by', 'None')
tweet_clean.new_text[1071] = tweet_clean.new_text[1071].replace('getting', 'Beaver')
tweet_clean.new_text[992] = tweet_clean.new_text[992].replace('his', 'Quizno')
tweet_clean.new_text[1095] = tweet_clean.new_text[1095].replace('mad', 'pupper')
tweet_clean.new_text[1897] = tweet_clean.new_text[1897].replace('mix', 'Columbia')
tweet_clean.new_text[1923] = tweet_clean.new_text[1923].replace('mix', 'Baklava')
tweet_clean.new_text[852] = tweet_clean.new_text[852].replace('my', 'Zoey')
tweet_clean.new_text[1120] = tweet_clean.new_text[1120].replace('this', 'doggo')
tweet_clean.new_text[819] = tweet_clean.new_text[819].replace('very', 'Kangaroo')
tweet_clean.new_text[1031] = tweet_clean.new_text[1031].replace('very', 'Seal')
tweet_clean.new_text[1097] = tweet_clean.new_text[1097].replace('very', 'Turtle')
tweet_clean.new_text[1385] = tweet_clean.new_text[1385].replace('very', 'snake')
tweet_clean.new_text[1382] = tweet_clean.new_text[1382].replace('world', 'pupper')
tweet_clean.new_text[2333] = tweet_clean.new_text[2333].replace('an', 'Parthenon')
tweet_clean.new_text[2335] = tweet_clean.new_text[2335].replace('an', 'Episcopalian')
tweet_clean.new_text[2345] = tweet_clean.new_text[2345].replace('the', 'dog')
tweet_clean.new_text[2346] = tweet_clean.new_text[2346].replace('the', 'Paul')
tweet_clean.new_text[2347] = tweet_clean.new_text[2347].replace('wheels', 'terrier')
tweet_clean.new_text[2348] = tweet_clean.new_text[2348].replace('mix', 'bear')
tweet_clean.new_text[2349] = tweet_clean.new_text[2349].replace('an', 'dog')

/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Miyal/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Miyal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
tweet_clean.name = tweet_clean.new_text
tweet_clean = tweet_clean.drop(['new_text'], axis=1)

##### Test

In [ ]:
tweet_clean['name'].value_counts()

#### `image`: Duplicates in jpg_url

##### Define
- Find the duplicates in jpg_url
- Remove the duplicate rows

##### Code

In [24]:
image_clean = image_clean[~image_clean.duplicated(['jpg_url'], keep=False)]

##### Test

In [ ]:
image_clean.info()

#### `tweet`: Name sometimes lower case, captial letter other times
#### `image`: Lowercase p1, p2, p3

##### Define
- Lower case name column in 'tweet' table
- Lower case p1, p2, p3 columns in 'image' table

##### Code

In [25]:
tweet_clean['name'] = tweet_clean['name'].str.lower()
image_clean['p1'] = image_clean['p1'].str.lower()
image_clean['p2'] = image_clean['p2'].str.lower()
image_clean['p3'] = image_clean['p3'].str.lower()

##### Test

In [ ]:
tweet_clean.sample(5)

In [ ]:
image_clean.sample(5)

### Tidiness

#### Merge doggo, pupper, puppo, and floofer columns into one column in `tweet` table

##### Define
*Your definition here. Hint: use pandas' [melt function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html) and [`str.split()` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.split.html). Here is an excellent [`melt` tutorial](https://deparkes.co.uk/2016/10/28/reshape-pandas-data-with-melt/).*

Melt the auralin and novodra columns to a treatment and a dose column (dose will still contain both start and end dose at this point). Then split the dose column on ' - ' to obtain start_dose and end_dose columns. Drop the intermediate dose column.

##### Code

In [81]:
def breed_concat(row):
    breeds = []
    breed_list = ['doggo', 'floofer', 'pupper', 'puppo']
    
    for breed in breed_list:
        if row[breed] != 'None':
            breeds.append(breed)

    return ' '.join(sorted(breeds))

tweet_clean['breed'] = tweet_clean[['doggo', 'floofer', 'pupper', 'puppo']].apply(breed_concat, axis=1)

In [84]:
tweet_clean = tweet_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1)

In [86]:
tweet_clean.breed = tweet_clean.breed.astype('category')

##### Test

In [87]:
# Your testing code here
tweet_clean.sample(50)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,rating,breed
2014,672223000000000000,2015-12-03 01:16:17,Twitter for iPhone,This is Cal. He's a Swedish Geriatric Cheddar....,https://twitter.com/dog_rates/status/672222792...,9,10,cal,0.9,
259,843236000000000000,2017-03-18 22:59:54,Twitter for iPhone,This is Tycho. She just had new wheels install...,https://twitter.com/dog_rates/status/843235543...,13,10,tycho,1.3,
1109,733828000000000000,2016-05-21 01:13:53,Twitter for iPhone,This is Terry. The harder you hug him the fart...,https://twitter.com/dog_rates/status/733828123...,10,10,terry,1.0,
1726,680055000000000000,2015-12-24 16:00:30,Tweet Deck,"Meet Sammy. At first I was like ""that's a snow...",https://twitter.com/dog_rates/status/680055455...,10,10,sammy,1.0,
1168,721001000000000000,2016-04-15 15:44:11,Twitter for iPhone,This is Oliver. Bath time is upon him. His fea...,https://twitter.com/dog_rates/status/721001180...,11,10,oliver,1.1,pupper
320,834458000000000000,2017-02-22 17:41:18,Twitter for iPhone,Meet Chester (bottom) &amp; Harold (top). They...,https://twitter.com/dog_rates/status/834458053...,12,10,chester,1.2,
740,780544000000000000,2016-09-26 23:04:13,Twitter for iPhone,Here's a perturbed super floof. 12/10 would sn...,https://twitter.com/dog_rates/status/780543529...,12,10,none,1.2,
1486,693109000000000000,2016-01-29 16:30:45,Twitter for iPhone,"""Thank you friend that was a swell petting"" 11...",https://twitter.com/dog_rates/status/693109034...,11,10,none,1.1,
216,850754000000000000,2017-04-08 16:54:09,Twitter for iPhone,"This is Kyle. He made a joke about your shoes,...",https://twitter.com/dog_rates/status/850753642...,11,10,kyle,1.1,
1545,689289000000000000,2016-01-19 03:32:10,Twitter for iPhone,Someone sent me this without any context and e...,https://twitter.com/dog_rates/status/689289219...,13,10,none,1.3,
1217,714963000000000000,2016-03-29 23:49:30,Vine Make a Scene,Just in case anyone's having a bad day. 12/10 ...,https://vine.co/v/inVtemLt9tE,12,10,none,1.2,
1626,684800000000000000,2016-01-06 18:14:31,Twitter for iPhone,Meet Theodore. He's dapper as hell. Probably o...,https://twitter.com/dog_rates/status/684800227...,11,10,theodore,1.1,
2154,669626000000000000,2015-11-25 21:17:12,Twitter for iPhone,This is Penny. She's having fun AND being safe...,https://twitter.com/dog_rates/status/669625907...,12,10,penny,1.2,
2053,671485000000000000,2015-12-01 00:24:48,Twitter for iPhone,Meet Penelope. She is a white Macadamias Duode...,https://twitter.com/dog_rates/status/671485057...,11,10,penelope,1.1,
1915,674318000000000000,2015-12-08 20:01:55,Twitter for iPhone,This is Lennon. He's in quite the predicament....,https://twitter.com/dog_rates/status/674318007...,8,10,lennon,0.8,pupper
1985,672898000000000000,2015-12-04 22:00:08,Twitter for iPhone,This is Cheryl AKA Queen Pupper of the Skies. ...,https://twitter.com/dog_rates/status/672898206...,11,10,cheryl,1.1,pupper
816,770788000000000000,2016-08-31 00:58:39,Twitter for iPhone,This is Winston. His tongue has gone rogue. Do...,https://twitter.com/dog_rates/status/770787852...,10,10,winston,1.0,
508,812503000000000000,2016-12-24 03:40:19,Twitter for iPhone,I'm happy to inform you all that Jake is in ex...,https://m.facebook.com/story.php?story_fbid=18...,13,10,none,1.3,
1032,745315000000000000,2016-06-21 17:58:09,Twitter for iPhone,This is Sugar. She excels underwater. 12/10 ph...,https://twitter.com/dog_rates/status/745314880...,12,10,sugar,1.2,
1964,673350000000000000,2015-12-06 03:56:12,Twitter for iPhone,This is Bella. She's a Genghis Flopped Canuck....,https://twitter.com/dog_rates/status/673350198...,9,10,bella,0.9,
2334,666294000000000000,2015-11-16 16:37:02,Twitter for iPhone,This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,3,10,dog,0.3,
1286,708401000000000000,2016-03-11 21:15:02,Vine Make a Scene,RT if you are as ready for summer as this pup ...,https://vine.co/v/iHFqnjKVbIQ,12,10,none,1.2,
89,875021000000000000,2017-06-14 16:04:48,Twitter for iPhone,Guys please stop sending pictures without any ...,https://twitter.com/dog_rates/status/875021211...,12,10,none,1.2,
1151,725842000000000000,2016-04-29 00:21:01,Twitter for iPhone,This is Colby. He's currently regretting all t...,https://twitter.com/dog_rates/status/725842289...,12,10,colby,1.2,
1816,676607000000000000,2015-12-15 03:36:42,Twitter for iPhone,*screeches for a sec and then faints* 12/10 ht...,https://twitter.com/dog_rates/status/676606785...,12,10,none,1.2,
977,750011000000000000,2016-07-04 17:00:26,Tweet Deck,Meet Piper. She's an airport doggo. Please ret...,https://twitter.com/dog_rates/status/750011400...,11,10,piper,1.1,doggo
1219,714632000000000000,2016-03-29 01:53:39,Twitter for iPhone,This is Benedict. He's a feisty pup. Needs a b...,https://twitter.com/dog_rates/status/714631576...,4,10,benedict,0.4,
2321,666436000000000000,2015-11-17 02:00:15,Twitter for iPhone,"""Can you behave? You're ruining my wedding day...",https://twitter.com/dog_rates/status/666435652...,10,10,none,1.0,
349,831650000000000000,2017-02-14 23:43:18,Twitter for iPhone,"I usually only share these on Friday's, but th...","http://www.gofundme.com/bluethewhitehusky,http...",13,10,none,1.3,
2195,668873000000000000,2015-11-23 19:24:02,Twitter for iPhone,This is Am̩lie. She is a confident white colle...,https://twitter.com/dog_rates/status/668872652...,11,10,am̩lie,1.1,
414,822859000000000000,2017-01-21 17:31:20,Twitter for iPhone,This is Hobbes. He was told he was going to th...,https://twitter.com/dog_rates/status/822859134...,12,10,hobbes,1.2,
1235,712669000000000000,2016-03-23 15:53:42,Twitter for iPhone,Say hello to Sunny and Roxy. They pull things ...,https://twitter.com/dog_rates/status/712668654...,10,10,sunny,1.0,
732,781525000000000000,2016-09-29 16:03:01,Twitter for iPhone,Idk why this keeps happening. We only rate dog...,https://twitter.com/dog_rates/status/781524693...,12,10,none,1.2,
1527,690360000000000000,2016-01-22 02:28:52,Twitter for iPhone,Stop sending in lobsters. This is the final wa...,https://twitter.com/dog_rates/status/690360449...,9,10,lobster,0.9,
1171,720415000000000000,2016-04-14 00:55:25,Twitter for iPhone,Garden's coming in nice this year. 10/10 https...,https://twitter.com/dog_rates/status/720415127...,10,10,none,1.0,
1194,717429000000000000,2016-04-05 19:09:17,Vine Make a Scene,This is Skittle. He's trying to communicate. 1...,https://vine.co/v/iIhEU2lVqxz,11,10,skittle,1.1,
1879,675015000000000000,2015-12-10 18:12:05,Twitter for iPhone,Meet Moe. He's a golden Fetty Woof. Doesn't re...,https://twitter.com/dog_rates/status/675015141...,10,10,moe,1.0,
1204,716081000000000000,2016-04-02 01:52:38,Twitter for iPhone,Here's a super majestic doggo and a sunset 11/...,https://twitter.com/dog_rates/status/716080869...,11,10,none,1.1,doggo
1702,680935000000000000,2015-12-27 02:15:25,Twitter for iPhone,Say hello to Sadie. She's a Tortellini Sidewin...,https://twitter.com/dog_rates/status/680934982...,10,10,sadie,1.0,
1926,674053000000000000,2015-12-08 02:29:37,Twitter for iPhone,This is Stanley. Yes he is aware of the spoon'...,https://twitter.com/dog_rates/status/674053186...,10,10,stanley,1.0,
83,876538000000000000,2017-06-18 20:30:39,Twitter for iPhone,I can say with the pupmost confidence that the...,https://twitter.com/mpstowerham/status/8761629...,14,10,none,1.4,
112,870804000000000000,2017-06-03 00:48:22,Twitter for iPhone,Real funny guys. Sending in a pic without a do...,https://twitter.com/dog_rates/status/870804317...,11,10,none,1.1,
2020,672095000000000000,2015-12-02 16:49:14,Twitter for iPhone,This is Tuco. That's the toast that killed his...,https://twitter.com/dog_rates/status/672095186...,9,10,tuco,0.9,
900,758740000000000000,2016-07-28 19:06:01,Twitter for iPhone,Meet Boston. He's worried because his tongue w...,https://twitter.com/dog_rates/status/758740312...,12,10,boston,1.2,
2340,666100000000000000,2015-11-16 03:44:34,Twitter for iPhone,Can stand on stump for what seems like a while...,https://twitter.com/dog_rates/status/666099513...,8,10,none,0.8,
1530,690022000000000000,2016-01-21 04:03:58,Twitter for iPhone,"Say hello to Geoff (pronounced ""Kyle""). He acc...",https://twitter.com/dog_rates/status/690021994...,10,10,geoff,1.0,
1047,743510000000000000,2016-06-16 18:26:48,Twitter Web Client,"This is Beya. She doesn't want to swim, so she...",https://twitter.com/dog_rates/status/743510151...,13,10,beya,1.3,
1692,681302000000000000,2015-12-28 02:35:15,Twitter for iPhone,This is Chuck. He's a neat dog. Very flexible....,https://twitter.com/dog_rates/status/681302363...,3,10,chuck,0.3,
491,813801000000000000,2016-12-27 17:36:16,Twitter for iPhone,This is Sky. She's learning how to roll her R'...,https://twitter.com/dog_rates/status/813800681...,12,10,sky,1.2,
23,887474000000000000,2017-07-19 00:47:34,Twitter for iPhone,This is Canela. She attempted some fancy porch...,https://twitter.com/dog_rates/status/887473957...,13,10,canela,1.3,

#### `info` table and `image` table should be part of the `tweet` table

##### Define
Merge the info table to the treatments table, joining on tweet_id.

##### Code

In [88]:
image_clean = pd.merge(image_clean, info_clean,
                            on=['tweet_id'], how='left')

In [92]:
tweet_clean = pd.merge(tweet_clean, image_clean,
                            on=['tweet_id'], how='left')

##### Test

In [89]:
image_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1943 entries, 0 to 1942
Data columns (total 14 columns):
tweet_id          1943 non-null int64
jpg_url           1943 non-null object
img_num           1943 non-null int64
p1                1943 non-null object
p1_conf           1943 non-null float64
p1_dog            1943 non-null bool
p2                1943 non-null object
p2_conf           1943 non-null float64
p2_dog            1943 non-null bool
p3                1943 non-null object
p3_conf           1943 non-null float64
p3_dog            1943 non-null bool
retweet_count     1942 non-null float64
favorite_count    1942 non-null float64
dtypes: bool(3), float64(5), int64(2), object(4)
memory usage: 187.8+ KB

In [90]:
image_clean[image_clean['retweet_count'].isnull()]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count
1712,837012587749474308,https://pbs.twimg.com/media/C52pYJXWgAA2BEf.jpg,1,toilet_tissue,0.186387,False,cowboy_hat,0.158555,False,sombrero,0.14947,False,NaN,NaN

In [91]:
image_clean.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count
705,685663452032069632,https://pbs.twimg.com/ext_tw_video_thumb/68566...,1,chesapeake_bay_retriever,0.171174,True,tennis_ball,0.090644,False,racket,0.048508,False,1621.0,3494.0
1650,827199976799354881,https://pbs.twimg.com/media/C3rN-lcWEAA9CmR.jpg,4,great_dane,0.869681,True,american_staffordshire_terrier,0.026658,True,boxer,0.019866,True,2515.0,11475.0
1496,794332329137291264,https://pbs.twimg.com/media/CwYJBiHXgAQlvrh.jpg,1,samoyed,0.988307,True,malamute,0.004906,True,great_pyrenees,0.002901,True,3011.0,10515.0
513,676575501977128964,https://pbs.twimg.com/media/CWOt07EUsAAnOYW.jpg,1,feather_boa,0.424106,False,yorkshire_terrier,0.073144,True,shetland_sheepdog,0.057598,True,1234.0,2755.0
185,669363888236994561,https://pbs.twimg.com/media/CUoO1TLWsAA0Z3w.jpg,1,golden_retriever,0.539004,True,irish_setter,0.406550,True,cocker_spaniel,0.041484,True,246.0,651.0

## Store

In [ ]:
tweet_clean.to_csv('twitter_archive_master.csv', sep='\t', encoding='utf-8')

## Analyse

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('twitter_archive_master.csv')